<h1>Employees List </h1>

<br>
<a class="btn btn-primary" routerLink="../employees/add/0"> Add New Employee</a>
<br>
<br>
<br>


<div class="form-group">
    <input [(ngModel)]="txtSearch" (keyup)="onKeyUp()" type="text" class="form-control">
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>


            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employee2List">
            <td>{{ emp.id }}</td>
            <td>{{ emp.name }}</td>
            <td>{{ emp.email }}</td>
            <td>{{ emp.phone }}</td>
            <td>
                <a class="btn btn-sm btn-warning m-1" routerLink="../employees/edit/{{ emp.id }}"> Edit </a>
                <button class="btn btn-sm btn-danger " (click)="delete(emp.id)"> Delete </button>

            </td>
        </tr>
    </tbody>
</table>