<p>{{title}}</p>


<form #frm="ngForm" novalidate (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label>Id</label>
        <input class="form-control" type="text" name="id" #id="ngModel" [(ngModel)]="emp.id">
    </div>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" #name="ngModel" [(ngModel)]="emp.name">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="text" name="email" #email="ngModel" [(ngModel)]="emp.email">
    </div>
    <div class="form-group">
        <label>Phone</label>
        <input class="form-control" type="text" name="phone" #phone="ngModel" [(ngModel)]="emp.phone">
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit"> SAVE </button>
    </div>

</form>